@import "tailwindcss";

@theme {
  --color-helpdesk-blue-50: #eff6ff;
  --color-helpdesk-blue-100: #dbeafe;
  --color-helpdesk-blue-500: #3b82f6;
  --color-helpdesk-blue-600: #2563eb;
  --color-helpdesk-blue-700: #1d4ed8;

  --color-helpdesk-yellow-50: #fefce8;
  --color-helpdesk-yellow-100: #fef9c3;
  --color-helpdesk-yellow-400: #facc15;
  --color-helpdesk-yellow-500: #eab308;
  --color-helpdesk-yellow-600: #ca8a04;
}
